!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title UVLe Login

		link(rel='stylesheet', href='css/bootstrap.css')
		style(type='text/css')
			body {padding-top: 60px;padding-bottom: 40px}
		link(rel='stylesheet', href='css/app.css')

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.brand UVLe
					ul.nav.pull-right
						li
							a(href='#') Home
						li
							a(href='#') Helpdesk
						li
							a(href='#') About UVLe
						li
							a(href='#') FAQs
						li
							a(href='#') Online Resources
						li
							a(href='#') What say they?
		.container
			form
				.controls
					input(type='text', placeholder='Username')
				.controls
					input(type='password', placeholder='Password')
				.controls	
					a Forgot your password?
				.controls
					button.btn.btn-inverse(type='submit')	Login	
			img(src='img/ikot.png').pull-right
	footer.navbar.navbar-fixed-bottom
		.navbar-inner
			.container
				.row
					.span2
						| SERVICES
						ul.unstyled
							li 
								a Training
							li
								a Streaming/Video Coverage
							li
								a Instructional Materials Development
							li
								a Podcasting/Vodcasting
							li
								a Educational Tech Constulting
							li
								a Internship/On-the-job Training
					.span2
						| WEBSITES
						ul.unstyled
							li 
								a UVLeio
							li
								a iskWiki!
							li
								a Isktreaming
							li
								a Iskpace
							li
								a Obletorr
							li
								a DILC Live Webstream Event
							li
								a Chat
							li
								a GreatIdeas.PH
							li
								a UP-FM
					.span2
						| SUPPORT
						ul.unstyled
							li 
								a Helpdesk
							li
								a Tech Support Matters
							li
								a DILC Matters
					.span2
						| DOWNLOAD
						ul.unstyled
							li 
								a DILC Brochure
							li
								a Tech Support Matters
							li
								a DILC Matters
					.span2
						| ABOUT
						ul.unstyled
							li 
								a UVLe
							li
								a Diliman Interactive Learning Center
					.span2
						| RESEARCH
						ul.unstyled
							li 
								a DILC Media Lab

