!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title UVLe Login

		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/app.css')

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.brand UVLe
					ul.nav.pull-right
						li
							a(href='#') Home
						li
							a(href='#') Helpdesk
						li
							a(href='#') About UVLe
						li
							a(href='#') FAQs
						li
							a(href='#') Online Resources
						li
							a(href='#') What say they?		